.app-wrapper {
    display: grid; 
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "h h" "n c";
    width: 1200px;
    margin: 0 a;
}

.app-wrapper-content {
    grid-area: c;
    width: 100%;
    background-color: gainsboro;
  }