.header {
  grid-area: h;
  background-color: skyblue;
}

.login {
  float: right;
}

.login a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 23px;
}

.login a:hover {
  color: bisque;
}

.login a:active {
  color: gainsboro;
}